.pictureContainerRegister {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../image/gambar1.jpg");
  background-size: cover;
  height: 543px;
  width: 100%;
}

.pictureContainerLogin {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../image/gambar1.jpg");
  background-size: cover;
  height: 350px;
  width: 100%;
}

.preloader {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.preloader-wrapper {
  margin-left: 50%;
}

body {
  background-color: #b6b3bb;
}
